PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000

JWT_SECRET=lexledger_hyperledger_fabric_consortium_jwt_super_secret_key_2026
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10

FABRIC_NETWORK_NAME=LexLedgerConsortiumNetwork
FABRIC_CHANNEL_ID=evidence-consortium-channel
FABRIC_CHAINCODE_NAME=evidence_custody_cc
FABRIC_CHAINCODE_VERSION=2.0.0
FABRIC_ENDORSEMENT_THRESHOLD=2
FABRIC_TOTAL_MSPS=3

FABRIC_ORDERER_ENDPOINT=orderer0.consortium.gov.in:7050
FABRIC_ORDERER_CLUSTER=orderer0.consortium.gov.in:7050,orderer1.consortium.gov.in:7050,orderer2.consortium.gov.in:7050

POLICE_MSP_PEER=peer0.police.gov.in:7051
POLICE_MSP_CA=ca.police.gov.in:7054

FORENSICS_MSP_PEER=peer0.forensics.gov.in:8051
FORENSICS_MSP_CA=ca.forensics.gov.in:8054

JUDICIARY_MSP_PEER=peer0.judiciary.gov.in:9051
JUDICIARY_MSP_CA=ca.judiciary.gov.in:9054

ENABLE_TESSERACT_LOCAL_OCR=true
TESSERACT_LANG=eng
OCR_CONFIDENCE_THRESHOLD=85.0

MAX_FILE_UPLOAD_SIZE_MB=50
UPLOAD_TEMP_DIR=./uploads/temp
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/webp,application/pdf,text/plain

CUSTODY_LOG_FILE_PATH=./server/logs/custody-audit.log
ENABLE_MORGAN_HTTP_AUDIT=true
LOG_LEVEL=info
